Dance_classes/Dance_classes/.vs/
Dance_classes/Dance_classes/App_Data/
Dance_classes/Dance_classes/App_Start/
Dance_classes/Dance_classes/bin/
Dance_classes/Dance_classes/Content/
Dance_classes/Dance_classes/fonts/
Dance_classes/Dance_classes/obj/
Dance_classes/Dance_classes/Properties/
Dance_classes/Dance_classes/Scripts/
Dance_classes/Dance_classes/ApplicationInsights.config/
Dance_classes/Dance_classes/Dance_classes.csproj/
Dance_classes/Dance_classes/Dance_classes.csproj.user/
Dance_classes/Dance_classes/favicon.ico/
Dance_classes/Dance_classes/Global.asax/
Dance_classes/Dance_classes/Global.asax.cs/
Dance_classes/Dance_classes/packages.config/
Dance_classes/Dance_classes/Web.config/
Dance_classes/Dance_classes/Web.Debug.config/
Dance_classes/Dance_classes/Web.Release.config/
Dance_classes/Files/
Dance_classes/packages/
README.md/
